.packTable {
    display: flex;
    width: 90%;
    justify-content: center;
    border-collapse: collapse;
}

.packTable table {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.packTable th, td {
    display: flex;
    min-width: 25%;
    justify-content: center;
    padding: 10px 0;
    color: #ffffff;
    background-color: rgba(113, 88, 88, 0.55);
    border: 1px solid rgba(113, 88, 88, 0.8);

}
.packTable th{
    background-color: rgba(113, 88, 88, 0.8);

}


.packTable tr {
    display: flex;
    width: 100%;

}